.card-class {
    border: 1px solid #dcdee2;
    border-color: #e8eaec;
    background: #fff;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    transition: all .2s ease-in-out;
    .content {
        padding: 16px;
    }
    h3 {
        display: inline-block;
    }
    &::after {
        content: '>';
        display: block;
        position:absolute;
        font-weight: bold;
        right: 10px;
        top: 20px;
    }
}