
$links-color: #0179fe;

.ivu-input-wrapper {
	width: 75%;
}
.union .hide {
	display: none;
}

.union {
	.card-class {
        border-top: 0;
		&.active {
			background-color: transparent;
			h3 {
				color: $links-color;
			}
		}
		&.card-class-a {
			&:first-child {
				border-top: 1px solid #dcdee2;
			}
		}
        &.card-class-b,
        &.card-class-c {
			margin-left: 10px;
            margin-right: 10px;			
        }
        &.lastcard {
            border-radius: 0 0 8px 8px;
        }
	}
    h4 + .card-class-b,
    h4 + .card-class-c, {
		border-top: 1px solid #dcdee2;
		border-radius: 8px 8px 0 0;
    }
}

.content.page {
	.ivu-col {
		border-right: 0;
		box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1);
		.title {
			text-align: left ;
			background-color: rgba(255, 255, 255, 0.3);
			border-bottom: 1px #e7e7e7 solid;
		}
	}
}

.add-new-card {
    width: 100%;
    position: relative;
    text-align: left;
    list-style: none;
    border-top: 1px solid #e7e7e7;
	box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
	cursor: pointer;
	padding: 0 15px;
	box-sizing: border-box;
    margin-top: 6px;
	height: 40px;
	line-height: 40px;
    transition: all .2s ease;
    position: relative;
}

// .ivu-dropdown {
// 	.ivu-dropdown-rel {
// 		opacity: 0;
// 		transition: all ease 0.3s;
// 	}
// }
// .card-class:hover {
// 	.ivu-dropdown {
// 		.ivu-dropdown-rel {
// 			opacity: 1;
// 		}
// 	}
// }



