$bg-color: #f6f6f6;
$links-color: #0179fe;
$project-title-line-color: #e7e7e7;
$item-bg-color: #ffffff;
$item-line-color: #dcdee2;
$links-color: #0179fe;

.ivu-input-wrapper {
	width: 75%;
}
.union .hide {
	display: none;
}

.union {
	.card-class {
		border-top: 0;
		i {
			color: #abb0b9 !important;
		}
		&.active, &:hover {
			color: $links-color;
			i {
				color: $links-color !important;
			}
			.ivu-dropdown { opacity: 1; }
		}
		&.card-class-a {
			&:first-child {
				border-top: 1px solid $item-line-color;
			}
		}
        &.card-class-b,
        &.card-class-c {
			margin-left: 10px;
            margin-right: 10px;			
        }
        &.lastcard {
            border-radius: 0 0 8px 8px;
        }
	}
    h4 + .card-class-b,
    h4 + .card-class-c, {
		border-top: 1px solid  $item-line-color;
		border-radius: 8px 8px 0 0;
	}
	
	.ivu-card {
		border-radius: 0;
		border-top: 0;
		&:first-child {
			border-top: 1px solid $item-line-color;
		}
	}
	h4 + .ivu-card {
			border-top: 1px solid $item-line-color;
	}
	.ivu-col {
		border-right: 0 !important;
		box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
		.title {
			text-align: left;
			padding: 15px;
			background-color: rgba(255, 255, 255, 0.3) !important;
			border-bottom: 1px $project-title-line-color solid !important;
		}
		h4 {
			padding: 10px;
		}
	}
}

.content.page {
	.ivu-col {
		border-right: 0;
		box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1);
		.title {
			text-align: left ;
			background-color: rgba(255, 255, 255, 0.3);
			border-bottom: 1px #e7e7e7 solid;
		}
	}
}

.add-new-card {
	font-size: 12px;
	color: $links-color;
	width: 100%;
	text-align: left;
	list-style: none;
	margin-top: 25px;
	padding: 15px 10px;
	height: 50px;
	border-top: 1px solid $project-title-line-color;
	border-bottom: 1px solid $project-title-line-color;
	box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
	background-color: $item-bg-color;
	cursor: pointer;
	transition: all .2s ease;
	position: relative;
	.ivu-icon {
		color: $links-color;
		font-size: 22px;
		text-align: center;
		line-height: 20px;
		width: 20px; height: 20px;
		margin-right: 5px;	
	}
}

// .ivu-dropdown {
// 	.ivu-dropdown-rel {
// 		opacity: 0;
// 		transition: all ease 0.3s;
// 	}
// }
// .card-class:hover {
// 	.ivu-dropdown {
// 		.ivu-dropdown-rel {
// 			opacity: 1;
// 		}
// 	}
// }



